label {
    font-weight: bold;
}

button{
    margin-top: 20px;
}

.table_title{
    font-weight: bold;
}

table{
    text-align: center;
}

.title{
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}